// 协议勾选
// -------------------------
.h5ui-agree{
  font-size: 12px;
  color: @colorGray;
  a{
    color: @colorPrimary;
  }
  .h5ui-agree_icon{
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    background: @colorPrimary;
    position: relative;
    overflow: hidden;

    &:after,
    &:before{
      position: absolute;
      display: block;
      content: "";
      height: 1px;
    }

    &:after{
      -webkit-transform: rotate(-45deg) translate3d(10px,0,0);
      -moz-transform: rotate(-45deg) translate3d(10px,0,0);
      transform: rotate(-45deg) translate3d(10px,0,0);
      margin-top: 14px;
      margin-left: -2px;
      width: 8px;
      background: @colorWhite;
    }
    &:before{
      -webkit-transform: rotate(45deg) translate3d(11px,4px,0);
      -moz-transform: rotate(45deg) translate3d(11px,4px,0);
      transform: rotate(45deg) translate3d(11px,4px,0);
      margin-top: -2px;
      margin-left: -2px;
      width: 4px;
      background: @colorWhite;
    }
  }
  span{
    vertical-align: middle;
  }
}